@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@layer components {
  .gradient-background-gray {
    background-image: linear-gradient(
      to right,
      rgb(0, 0, 0),
      rgb(255, 255, 255)
    );
  }
  .gradient-background-orange {
    background-image: linear-gradient(to right, orange, rgb(255, 140, 0));
  }
  .gradient-text {
    background-image: linear-gradient(to top right, red, rgb(255, 140, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  .gradient-text-blue {
    background-image: linear-gradient(to top right, blue, rgb(4, 235, 251));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  .gradient-background-blue {
    background-image: linear-gradient(to right, blue, rgb(4, 235, 251));
  }
  .gradient-background-green {
    background-image: linear-gradient(to right, green, rgb(132, 250, 114));
  }
  .gradient-background-red {
    background-image: linear-gradient(to right, red, rgb(248, 90, 90));
  }
  .gradient-background-pink {
    background-image: linear-gradient(
      to right,
      rgb(240, 0, 144),
      rgb(250, 151, 167)
    );
  }
  .gradient-background-black {
    background-image: linear-gradient(
      to right,
      rgb(0, 0, 0),
      rgb(246, 222, 222)
    );
  }
  .gradient-background-white {
    background-image: linear-gradient(
      to right,
      rgb(255, 255, 255),
      rgb(0, 0, 0)
    );
  }
  .gradient-background-comp {
    background-image: linear-gradient(
      to right,
      rgb(255, 204, 0),
      rgb(255, 119, 0)
    );
  }
  .gradient-background-purple {
    background-image: linear-gradient(
      to right,
      rgb(255, 0, 255),
      rgb(0, 0, 255)
    );
  }
  .gradient-background-yellow {
    background-image: linear-gradient(
      to right,
      rgb(255, 255, 0),
      rgb(255, 204, 0)
    );
  }
}
@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-flash-slow {
  animation: flash 2s infinite ease-in-out; /* Change duration to adjust the speed */
}
